@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll {
  animation: scroll 8s linear infinite;
}

.scroll-reverse {
  animation: scroll-reverse 8s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #121212;
  --color-cardBg: #181a20;
  --color-cardBgLight: #23272f;
  --color-textMain: #f3f6f9;
  --color-light: #ffffff;
  --color-accentGreen: #39d353;
  --color-accentBlue: #30b9d4;
  --color-accentAqua: #7fffd4;
  --color-accentMuted: #a8b3cf;
  --color-socialDiscord: #5865f2;
  --color-socialInstagram: #e1306c;
  --color-socialLinkedin: #0a66c2;
  --color-socialTwitter: #1da1f2;
  --color-socialSpotify: #1ed760;
}
